@page
@model ProjectFinalWebSale_LuongNewV2.Pages.ShopCarts.MailOrderModel
@{
}
<h1> Cảm ơn bạn đã mua sản phẩm bên shop ⚽</h1>

<form method="post">
    <button type="submit" class="btn btn-primary">về trang chủ</button>
</form>
<div>@Model.Message</div>