@page
@model ProjectFinalWebSale_LuongNewV2.Pages.Authen.SendEmailModel
@{
    ViewData["Title"] = "Send Email";
}

<h1>Send Email</h1>

<form method="post">
    <button type="submit" class="btn btn-primary">Send Email</button>
</form>

<div>@Model.Message</div>